@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-image: url(/RickAndMortyBG.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: 500ms;
}

h1 {
    font-family: 'Creepster', cursive;
    text-shadow: 0px 0px 20px rgba(218, 44, 175, 0.932);
}

h2 {
    font-family: 'Russo One', sans-serif;
    text-shadow: 10px 10px rgba(92, 6, 139, 0.392);
}

.dimension {
    background-color: rgba(122, 14, 162, 0.492);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.333);
}

.resident {
    background-color: rgba(122, 14, 162, 0.492);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.333);
}

.btn-wrapper {
    mix-width: 80vw;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.362);
    backdrop-filter: blur(6px);
    border-radius: 30px;
    padding: 0 2rem;
    min-width: 15rem;
    border: 1px solid white;
}

.btn-wrapper button {
    width: 50px;
    display: inline-block;
}

.div {
    background-color: rgba(134, 58, 162, 0.231);
    backdrop-filter: blur(6px);
    border-radius: 30px;
}

.colors {
    background-color: rgba(134, 58, 162, 0.231);
    backdrop-filter: blur(6px);
}

.img {
    box-shadow: 0px 0px 20px rgba(83, 21, 121, 0.614);
}

.text {
    font-family: 'VT323', monospace;
}

.btn {
    border: 1px solid rgba(1, 1, 1, 0.261);
}

/** MODIFICACIONES DEL COMPONENTE EXTERNO*/
fieldset {
    border-radius: 30px !important;
}

input::placeholder {
    color: white !important;
    opacity: 1 !important;
}

input {
    padding-left: 20px !important;
}